{% extends "layout.html" %}
{% block title %}User Not Found{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center col-11 col-md-6 col-lg-5" style="background-color: #4B0082; color: white; padding: 30px;">
        <div class="card-body">
            <h3 class="card-title">User Not Found</h3>
            <p class="card-text">The email address you entered does not exist in our system. Please try again or sign up.</p>
            <a href="/" class="btn btn-light w-100">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
